body {
    background-color: #b8121c;
    margin: 0;
    font-family: 'comic sans MS', serif;
}
h1 {
    margin-top:0;
}

#LoginBox{
    margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 15px;
}
#TutorList {
    clear: both;
    position: absolute;
    margin-left:0;
    margin-top:200px;
}
#SubjectsList{
    clear: both;
    position: absolute;
    margin-left:800px;
    margin-top:200px;
}
#SessionsList{
    clear: both;
    position: absolute;
    margin-left:1200px;
    margin-top:200px;
}
#InformationList{
    clear: both;
    position: absolute;
    margin-left: 0;
    margin-top: 200px;
}
#InformationOne{
    clear: both;
    position: absolute;
    margin-left: 550px;
    margin-top: 200px;
}
#SessionOne{
    clear: both;
    position: absolute;
    margin-left: 1200px;
    margin-top: 200px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table th {
    background-color: black;
    color: purple;
}
#imageDiv{
    position: absolute;
    margin-top: 0;
}
#ChangeInfo{
    margin-left:600px;
    margin-top:400px;
}
#ChangeSubject{
    margin-left:600px;
    margin-top:400px;
}
#InfoInput{
    position: absolute;
    margin-left: 300px;
    margin-top: 160px;
}
#SessionInput{
    position: absolute;
    margin-left: 700px;
    margin-top: 160px;
}