body {
    background-color: #b8121c;
    margin: 0;
    font-family: 'comic sans MS', serif;
}
h1 {
    margin-top:0;
}
.editSub, .deleteSub, #saveSub, #cancelSub , .editSes, .deleteSes, #saveSes, #cancelSes
, .editInfo, .deleteInfo, #saveInfo, #cancelInfo, #createSub, #createSes , #createInfo
, #Logout, #Profile, #changeI, #changeS, #ISearch, #SSearch, #a, #b, #c, #d, #e, #f
, #saveStu, #cancelStu, #saveTu, #cancelTu, #savePa, #cancelPa, #savePassStu, #cancelPassStu,
#savePassTu, #cancelPassTu, #savePassPa, #cancelPassPa, #update, #pass, #delete, #Homepage{
    color: black;
    font-size: 14px;
    border: none;
    padding: 8px;
    border-radius: 3px;
    transition-duration: 0.4s;
    margin: 2px;
}
#LoginBox, #editSub, #editSes, #editInfo, #createStu, #createTu, #createPa, #create, #disStu
, #disTu, #disPa, #del, #editStu, #editTu, #editPa, #passStu, #passTu, #passPa{
    background: purple;
    margin: auto;
    width: 25%;
    border: 3px solid #73AD21;
    padding: 15px;
}
#TutorList,#InformationList,#StudentList{
    clear: both;
    position: absolute;
    margin-left:0;
    margin-top:200px;
}
#SessionsList{
    clear: both;
    position: absolute;
    margin-left: 900px;
    margin-top:200px;
}
#InformationOne{
    clear: both;
    position: absolute;
    margin-left: 800px;
    margin-top: 200px;
}
#SessionOne{
    clear: both;
    position: absolute;
    margin-left: 1400px;
    margin-top: 200px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table th {
    background-color: black;
    color: purple;
}
#imageDiv{
    position: absolute;
    margin-top: 0;
}
#ChangeInfo,#ChangeSubject {
    margin-left: 600px;
    margin-top: 400px;
}
#InfoInput{
    position: absolute;
    margin-left: 300px;
    margin-top: 160px;
}
#SessionInput{
    position: absolute;
    margin-left: 700px;
    margin-top: 160px;
}
#create1,#create2{
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
}
#editSub{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
}