body {
    background-color: #b8121c;
    margin: 0;
    font-family: 'comic sans MS', serif;
}
h1 {
    margin-top:0;
}

#LoginBox, #editSub{
    background: purple;
    margin: auto;
    width: 20%;
    border: 3px solid #73AD21;
    padding: 15px;
}
#TutorList,#InformationList,#StudentList{
    clear: both;
    position: absolute;
    margin-left:0;
    margin-top:200px;
}
#SessionsList{
    clear: both;
    position: absolute;
    margin-left: 1100px;
    margin-top:200px;
}
#InformationOne{
    clear: both;
    position: absolute;
    margin-left: 800px;
    margin-top: 200px;
}
#SessionOne{
    clear: both;
    position: absolute;
    margin-left: 1400px;
    margin-top: 200px;
}
table, th, td {
    border: 1px solid black;
    border-collapse: collapse;
    padding: 5px;
}
table th {
    background-color: black;
    color: purple;
}
#imageDiv{
    position: absolute;
    margin-top: 0;
}
#ChangeInfo,#ChangeSubject {
    margin-left: 600px;
    margin-top: 400px;
}
#InfoInput{
    position: absolute;
    margin-left: 300px;
    margin-top: 160px;
}
#SessionInput{
    position: absolute;
    margin-left: 700px;
    margin-top: 160px;
}
#create1,#create2{
    position: absolute;
    margin-left: 500px;
    margin-top: 100px;
}
#editSub{
    position: absolute;
    margin-left: 500px;
    margin-top: 200px;
}